body{
    background-color:blueviolet;
    text-align: center;
}
marquee{
    font-size:40px;}
p{
   font-size: 30px;
}
kbd{
    color:chocolate;
font-size:69;
}
kbd{
    color:chocolate;
    font-size:69;
}